<navigacija></navigacija>

<div class="container">
  <glava vsebina="vm.glavaStrani"></glava>

  <div class="row">
    <div class="col-xs-12 col-md-9">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <p class="rating" prikazi-oceno ocena="vm.podatki.lokacija.ocena"></p>
          <p>{{ vm.podatki.lokacija.naslov }}</p>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h2 class="panel-title">Delovni čas</h2>
            </div>
            <div class="panel-body">
              <p ng-repeat="termin in vm.podatki.lokacija.delovniCas" ng-switch on="termin.zaprto">
                {{ termin.dnevi }} :
                <span ng-switch-when="true">zaprto</span>
                <span ng-switch-default>{{ termin.odprtje + " - " + termin.zaprtje }}</span>
              </p>
            </div>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h2 class="panel-title">Lastnosti</h2>
            </div>
            <div class="panel-body">
              <span class="label label-warning lastnost" ng-repeat="lastnost in vm.podatki.lokacija.lastnosti">
                <span class="glyphicon glyphicon-ok"></span>
                {{ lastnost }}
              </span>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 location-map">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h2 class="panel-title">Zemljevid lokacije</h2>
            </div>
            <div class="panel-body">
              <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" frameborder="0" ng-src="{{ 'https://maps.google.com/maps?q=' + vm.podatki.lokacija.koordinate[1] + ',' + vm.podatki.lokacija.koordinate[0] + '&z=15&output=embed' }}"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-primary review-panel">
            <div class="panel-heading">
              <a ng-show="vm.jePrijavljen" ng-click="vm.prikaziPojavnoOknoObrazca()" class="btn btn-default btn-xs pull-right">Dodaj komentar</a>
              <a ng-hide="vm.jePrijavljen" href="/prijava?stran={{ vm.prvotnaStran }}" class="btn btn-default btn-xs pull-right">Prijava za komentiranje</a>
              <h2 class="panel-title">Komentarji uporabnikov</h2>
            </div>
            <div role = "alert" ng-show="vm.napaka" class = "alert alert-danger">{{vm.napaka}}</div>
            <div class="panel-body komentar-vsebnik">
              <div class="row" ng-repeat="komentar in vm.podatki.lokacija.komentarji | orderBy:'datum':true">
                <div class="komentar">
                  <div class="well well-sm komentar-glava">
                    <span class="ocena" prikazi-oceno ocena="komentar.ocena"></span>
                    <span class="komentarAvtor">{{ komentar.avtor }}</span>
                    <button id="brisanjeKomentarjev" class= "btn btn-default btn-xs" ng-show = "komentar.email == vm.email" ng-click = "vm.brisanjeLastnegaKomentarja(vm.podatki.lokacija._id, komentar._id)">Izbriši komentar</button>
                    <span class="komentarDatum pull-right">{{ komentar.datum | date: 'd. MMMM, yyyy' }}</span>
                  </div>
                  <div class="col-xs-12">
                    <p ng-bind-html="komentar.besediloKomentarja | dodajHtmlPrehodVNovoVrstico"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>   
    <div class="col-xs-12 col-md-3">
      <p class="lead">{{ vm.podatki.lokacija.naziv }} je na EduGeoCache, ker je zanimiva lokacija, ki si jo lahko ogledate, ko ste brez idej za kratek izlet.</p>
      <p>Če vam je lokacija všeč, ali pa tudi ne, dodajte svoj komentar in s tem pomagajte ostalim uporabnikom pri odločitvi.</p>
    </div>
  </div>

  <noga></noga>
</div>